/* ICONOS MODERNOS */
.icon {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

/* PERFIL */
.profile-box {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 30px;
}
.profile-photo {
  width: 180px;
  height: 180px;
  border-radius: 12px;
  object-fit: cover;
}

/* TIMELINE */
.timeline {
  display: grid;
  gap: 25px;
  margin-top: 30px;
}

.t-item {
  background: var(--card);
  padding: 20px;
  border-radius: 12px;
  border-left: 4px solid var(--primary);
}
/* MAPA REGIONAL */
.map-container {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.map-svg {
  width: 300px;
  height: auto;
}

.map-details {
  list-style: none;
  padding: 0;
}

.map-details li {
  margin-bottom: 10px;
  background: var(--card);
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 0.95rem;
}
