/* ICONOS MODERNOS */
.icon {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

/* PERFIL */
.profile-box {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 30px;
}
.profile-photo {
  width: 180px;
  height: 180px;
  border-radius: 12px;
  object-fit: cover;
}

/* TIMELINE */
.timeline {
  display: grid;
  gap: 25px;
  margin-top: 30px;
}

.t-item {
  background: var(--card);
  padding: 20px;
  border-radius: 12px;
  border-left: 4px solid var(--primary);
}
